<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568798666652-q03cj65fem8s2ha35rt00t7ee616iq6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568798666652-q03cj65fem8s2ha35rt00t7ee616iq6u</string>
	<key>API_KEY</key>
	<string>AIzaSyDBp-be0_TSAaviChRRKiruNwpAzcsnUu4</string>
	<key>GCM_SENDER_ID</key>
	<string>568798666652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ruheekim.FirebasePractice</string>
	<key>PROJECT_ID</key>
	<string>myauthtutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>myauthtutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568798666652:ios:3d93e464ff0336b8b7b259</string>
</dict>
</plist>